# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Create markdown cells in Jupyter Notebooks
- Create Ordered list in markdown cells  
- List popular languages for Data Science  
- List commonly used Libraries  
- List Data Science Tools

Some of the popular languages that Data Scientists use are:

1. **Python** 
2. **R** 
3. **SQL** 
4. **Java**

Some of the commonly used libraries used by Data Scientists include:

1. **Pandas** 
2. **Numpy** 
3. **Matplotlib** 
4. **Seaborn**

| Data Science Tools          |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Visual Studio Code (VS Code) |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Rahul